{% extends 'layout.html' %}

{% block content %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								{%for category in categories%}
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">{{category}}</a></h4>
								</div>
								{%endfor%}
							</div>
						</div><!--/category-products-->
					
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{url_for('static', filename='images/')}}{{book.image}}" alt="" />
								
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img width="84" height="84" src="{{url_for('static', filename='images/')}}{{book.image}}" alt=""></a>
										  <a href=""><img width="84" height="84" src="{{url_for('static', filename='images/')}}{{book.image}}" alt=""></a>
										  <a href=""><img width="84" height="84" src="{{url_for('static', filename='images/')}}{{book.image}}" alt=""></a>
										</div>
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>{{book.name}}</h2>
								<p>Web ID: {{book.web_id}}</p>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>US ${{book.price}}</span>
									<label>Quantity:</label>
									<input type="text" value="{{book.quantity}}" />
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<p><b>Availability:</b> 
									{%if book.aviability%}
										In Stock
									{%else%}
										not in Stock
									{%endif%}
								</p>
								<p><b>Condition:</b> 
									{%if book.aviability%}
										New
									{%else%}
										Used
									{%endif%}</p>
								<p><b>Brand:</b> {{book.brand}}</p>
								<a href=""><img src="{{url_for('static', filename='images/product-details/share.png')}}" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<div class="col-sm">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo">
												<h2>Book description</h2>
												<p>{{book.description}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>						
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<p><b>Write Your Review</b></p>
									
									<form action="" method="post">
										{{form.csrf_token}}
										<span>
											{{form.name}}
											{{form.email}}
											<!-- <input type="text" placeholder="Your Name"/> -->
											<!-- <input type="email" placeholder="Email Address"/> -->
										</span>
										{{form.message}}
										<!-- <textarea name="" ></textarea> -->
										<b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
										<button type="submit" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
				</div>
			</div>
		</div>
	</section>
{% endblock  %}
  
{% block js %}
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{url_for('static', filename='js/price-range.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.scrollUp.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.prettyPhoto.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock  %}
</body>
</html>