	{% extends 'layout.html' %}
	
	{% block content %}
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm">
									<img src="{{url_for('static', filename='images/slider1.jpeg')}}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm">
									<img src="{{url_for('static', filename='images/slider2.jpeg')}}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm">
										<img src="{{url_for('static', filename='images/slider4.jpeg')}}" class="img-responsive" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{%for category in categories%}
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a href="#">{{category}}</a></h4>
									</div>
								</div>
							{%endfor%}
							
						</div><!--/category-products-->					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Bestsellers</h2>
						{% for book in books %}
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">
											<div class="productinfo text-center">
												<a href={{url_for('product', pk=book.id)}}>
													<img src="{{url_for('static', filename='images/')}}{{book.image}}" alt="" />
												</a>
												<h2>${{book.price}}</h2>
												<p>{{book.name}}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
									</div>
									<div class="choose">
										<ul class="nav nav-pills nav-justified">
											<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
											<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
										</ul>
									</div>
								</div>
							</div>
						{% endfor %}
						
						
					</div><!--features_items-->
					

				</div>
			</div>
		</div>
	</section>
	{% endblock  %}

	{% block js %}
	<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/price-range.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.prettyPhoto.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
	{% endblock  %}